:root {
    --color: #001e5e;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 33px;
    height: 83.333vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .board {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color);
    background-image: url("mole-hidden.png");
    background-size: cover;
  }
  
  .mole {
    background-image: url("mole.png");
    background-size: cover;
  }
  
  #restart {
    padding: 8px 16px;
    color: white;
    background-color: var(--color);
    border-color: var(--color);
    border-radius: 4px;
    font-size: 0.833rem;
    transition: 166.667ms;
  }
  
  #restart:hover {
    transform: translateY(-4.167px);
  }
  
